<div class="bg-white p-3">
  <h5 class="mb-4">الحقول</h5>
  <div class="input-field" (click)="addField()" style="cursor: pointer;">
    <span class=""> نص </span>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{width: '35vw'}">
  <div class="form-content">
    <div class="form-group mb-3" *ngIf="mainSections.length > 0">
      <label class="form-label">القسم الرئيسي</label>
      <p-dropdown (onChange)="addSubSection($event)" appendTo="body" [options]="mainSections" optionLabel="name" optionValue="id" placeholder="اخنر"
        [style]="{width: '100%'}">
      </p-dropdown>

    </div>

    <div class="form-group mb-3" >
      <label class="form-label">القسم الفرعى</label>
      <p-dropdown appendTo="body" [options]="subSections" optionLabel="name" placeholder="اخنر"
        [style]="{width: '100%'}"></p-dropdown>

    </div>
  </div>
</p-dialog>
