<div class="container my-4">
  <div class="row">
    <div class="col-md-3">
      <app-templates [pageStructure]="pageStructure"></app-templates>
    </div>
    <div class="col-md-9">
      <button class="btn btn-primary w-100 p-3" (click)="AddMainSection()">اضافة قسم رئيسي </button>

      <div class="accordion mt-4" id="accordionExample">


        <div class="accordion-item mb-3" *ngFor="let items of pageStructure?.mainSections; index as i">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapseOne' + i+1" aria-expanded="true" [attr.aria-controls]="'collapseOne'+ i+1">
              <div class="d-flex align-items-center justify-content-between w-100">
                <span>{{items.name + i}}</span>
                <div class="ms-3">
                  <button class="btn btn-gray" (click)="addSubSection(items.id); $event.stopPropagation()">
                    <i class="pi pi-plus"></i>
                  </button>
                  <button class="btn btn-gray" (click)="removeMainSection(items.id); $event.stopPropagation()">
                    <i class="pi pi-trash"></i></button>
                </div>
              </div>
            </button>
          </h2>
          <div [id]="'collapseOne'+ i+1" class="accordion-collapse collapse " [ngClass]="{show: i == 0}" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ng-container *ngIf="items?.subSections.length > 0">
                <div class="subsection" *ngFor="let subitem of items.subSections">
                  <p>{{subitem.name}}</p>
                </div>
              </ng-container>

              <ng-container *ngIf="items?.subSections.length == 0">
                <div class="no filed subsection p-5 d-flex justify-content-center align-items-center">
                  <h5>لا يوجد اقسام فرعية </h5>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
